<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.web.login.mapper.SignUpMapper">
	
	<select id="getQueryTotalCnt" resultType="int">
	/* SignUpMapper.signUpUser */
		SELECT FOUND_ROWS()
	</select>

	<insert id="signUpUser" parameterType="java.util.HashMap">
	/* SignUpMapper.signUpUser */
		INSERT INTO
		TB_USER(USER_ID, USER_NM, USER_PWD, USER_DATE)
		VALUES( 
				  #{user_id}
				, #{user_nm}
		   <!-- , MD5(#{user_pwd})-->
				, #{user_pwd}
				, NOW()
			  )
	</insert>

	<select id="checkLoginUser" parameterType="java.util.HashMap" resultType="com.cloud.web.common.domain.SessionVo">
	/* SignUpMapper.checkLoginUser */
		SELECT 
				  USER_IDX AS user_idx
				, USER_ID AS user_id 
				, USER_PWD AS user_pwd
				, USER_NM AS user_nm
		FROM 
			TB_USER
		WHERE 1=1 
		AND USER_ID = #{user_id}
		AND USER_PWD = #{user_pwd}
	</select>
	
	<select id="chkUserNm" parameterType="hashMap" resultType="int">
	/* SignUpMapper.chkUserNm */
		SELECT 
			COUNT(1)
		FROM TB_USER
		WHERE USER_NM = #{user_nm}
	</select>
	
</mapper>